/*https://codepen.io/jamesbarnett/pen/vlpkh*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(transparent 60%, white), url(/static/bridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 { 
  font-size: 25px; 
  margin-left: 13px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

.rating-container {
  clear: both;
  width: 500px;
  height: 70px;
}

.rating-text {
  width: 430px;
  display: block;
  float: left;
  border-right: none;
  border-radius: 4px 0 0 4px;
  padding: 10px;
  height: 100%;
  resize: none;
}

.rating-submit {
  width: 70px;
  float: right;
  margin: 0;
  height: 100%;
  border-radius: 0 4px 4px 0;
}

.landmark-div {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 6px;
    border-color: lightgray;
    border-width: 2px;
}

.suggestions-display {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 6px;
    border-color: lightgray;
    border-width: 2px;
}

#display {
  font-weight: bold;
  font: 'lucida grande', Arial, Helvetica, sans-serif;
  color: lightseagreen;
  font-size: 22px;
  margin-top: 2px;
  margin-left: 22px;
  float: left;
}

.landmark-thumbnail {
  height: 200px;
}

.upload {
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 2px;
}

.suggestion-images {
  height: 100px;
}

/****** Style Star Rating Widget *****/

textarea {
  border-color: lightgray;
  background-color: rgba(245, 245, 245, 0.5)
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { 
  color: #FFD700;  
  } /* hover previous stars in list */

label.selected,
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { 
  color: #FFED85;  
  }
