
body {
    height: 100%;
    width: 100%;
}

body {
    background: url(/static/precipice.jpg);
    background-size: cover;
}

.login-content {
    margin: 50px 0 0 100px;
}

.registration-content {
    margin: 50px 0 0 100px;
}

h2 {
    font-size: 25px;
    margin: 15px;
}

input[type="text"] {
    background: rgba(232,247,246, 0.8);
    border: none;
    outline: none;
    margin: 0 0 10px 0;
    font-size: 14px;
}

input[type="password"] {
    background: rgba(232,247,246, 0.8);
    border: none;
    outline: none;
    margin: 0 0 10px 0;
}

input[type="submit"] {
    font-size: 14px;
}

.login-form {
    margin: 15px;
}

.registration-form {
    margin: 15px;
    background: transparent;
    border: none;
}

.reg-link {
    margin: 15px;
}