
/*Markers and pop ups*/
#popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}

#map { 
    height: 400px;
    width:  100%;
    margin: 0 auto;
    }

.map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}

#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}

.address-input {
    z-index: 10;
    width: 100px;
    top: 10px;
    left: 10px;
}

#directions {
    z-index: 99;
    background: rgba(0,0,0,.8);
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}


#jquery-flash-container {
    padding: 20px;
    border: 2px solid blue;
    border-radius: 50px;
    position: fixed;
    top: 20px;
    left: 50px;
    display: none;
    background: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}