
h1 {
    font-size: 16px ;
}

ul {
    margin-left: -20px;
}

/*Markers and pop ups*/
#popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}

#map-master { 
    height: 400px;
    width:  100%;
    position: relative;
}

#map {
    height: 400px;
}

.map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

#saved-panel {
    position: absolute;
    width: 300px;
    padding: 10px;
    z-index: 99;
    background: rgba(12,71,68, 0.8);
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.clear-saved {
    color: lightgray !important;
}

#start-new {
    margin: 10px;
}

#lower-display {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 6px;
    border-color: lightgray;
    border-width: 2px;
}