<!doctype html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>


  {% block head %}
      <!-- put extra CSS/JS here -->
  {% endblock %}

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Walking</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/map">Explore <span class="sr-only">(current)</span></a></li>
        </ul>
     
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile">Favorites</a></li>
          <li>
            {% if session.get('user_id') %} 
              <a href="/logout">Log Out</a>
            {% else %}
              <a href="/login">Log In</a>
            {% endif %}
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

  </nav>

  <!-- Establish flash queue so messages can get flashed -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div id="jquery-flash-container"></div>
      
    {% block content %} 
      put your content here 
    {% endblock %}

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" async></script>
    <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" async></script>
</body>

</html>