
{% extends 'base.html' %}

{% block content %}

<h1>Start a New Walk:</h1>

<p>A walking app that allows people to create and map out walks based on origin and points of interest.  User can rate, add, comment on, and upload images of landmarks</p>

<a href="/map">Map Page</a>

<h2>My Walks</h2>
    <a href="/profile">My Walks</a>

<h2>Walk Details Page</h2>
<h2>Landmark Details Page</h2>
      <ul>
            <li>Add new landmark</li>
            <li>Upload image</li>
            <li>Add comments</li>
            <li>Rate this landmark</li>
            <li><a href="/landmarks/4389">Test Landmark</a></li>
            
      </ul>

{% endblock %}
