
{% extends 'base.html' %}

{% block head %}
    <link href="/static/homepage.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- <div class='container'> -->

<!--     <video id="video" width="770" height="882" onclick="play();" >
        <source src='/static/ShavingCharlie.mp4' type="video/mp4">
    </video> -->

    <div class='message'>
        <h3>the smartest walking app for planning and rating your urban hikes</h3>
        <ul>
            <li>explore parks, civic art, and other landmarks in San Francisco</li>
            <li>add or save destinations to create a walking trip</li>
            <li>rate and review landmarks, make your own notes and upload your own images</li>
            <li>see recommendations for highly rated landmarks, located nearby and tailored to your preferences</li>
            <li>send step-by-step walking directions to your phone via email</li>
        </ul>
    </div>
<!-- </div> -->


<!-- FIXME insert bootstrap photo carousel  -->

{% endblock %}
