{% extends 'base.html' %}

{% block head %}

    <title>Landmark Details</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


{% endblock %}

{% block content %}

    <!-- display landmark details -->

    <h3>{{ landmark.landmark_name|default("", True) }}</h3>

      <!-- http://stackoverflow.com/questions/11146619/suppress-none-output-as-string-in-jinja2 -->
      <p>{{ landmark.landmark_description|default("", True) }}</p>

        <ul>
          {% if landmark.landmark_location_description %}
            <li>Location:  {{ landmark.landmark_location_description|default("", True) }}</li>
          {% endif %}

          {% if landmark.landmark_artist %}
            <li>Artist:  {{ landmark.landmark_artist|default("", True) }}</li>
          {% endif %}

          {% if landmark.landmark_display_dimensions %}
            <li>Dislay dimensions:  {{ landmark.landmark_display_dimensions|default("", True) }}</li>
          {% endif %}

          {% if landmark.landmark_medium %}
            <li>Medium:  {{ landmark.landmark_medium|default("", True) }}</li>
          {% endif %}
        </ul>

    <!-- display average rating and option to rate this landmark -->

    <h3>Average Rating: {{ average|default("Be the first to rate this landmark.", True) }}</h3>
        {% if session.get('user_id') %} 

                <!-- Rate via Like/Heart or 5-stars? -->

                <form id='ratings' method='POST'>
                  <input type='button' src='/static/catburrito.jpeg' class='rating' value='1'>
                  <input type='button' src='/static/catburrito.jpeg' class='rating' value='2'>
                  <input type='button' src='/static/catburrito.jpeg' class='rating' value='3'>
                  <input type='button' src='/static/catburrito.jpeg' class='rating' value='4'>
                  <input type='button' src='/static/catburrito.jpeg' class='rating' value='5'>
                  <input type='text' id='notes' name='user-notes'>
                  <input type='submit'>
                </form>  
                <br>                

        {% else %}

            <a href="/login">Log In to Rate this Landmark</a>

        {% endif %}


    <!-- image gallery and option to upload a new image -->

      <div id='image-display'>
        {% for image in images %}
          <img src="{{ image.imageurl }}">
        {% endfor %}
      </div>

      <form id='upload' method="POST">
        <label>Upload an Image of {{ landmark.landmark_name }}<input type='file' id='input-upload' name='image' ></label>
      </form>


        <script type="text/javascript">
          var landmark_id = "{{ landmark.landmark_id }}";
        </script>
        <script src="/static/landmark.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" async></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" async></script>
        <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js" async></script>

{% endblock %}