{% extends 'base.html' %}
    <title>Landmark Details</title
{% block content %}

    <h3>{{ landmark.landmark_name }}</h3>
    <p>{{ landmark.landmark_description }}</p>
    <ul>
      <li>{{ landmark.landmark_location_description }}</li>
      <li>{{ landmark.landmark_artist }}</li>
      <li>{{ landmark.landmark_display_dimensions }}</li>
      <li>{{ landmark.landmark_medium }}</li>
    </ul>
    <p>Average Rating: </p>

    <form action = '/rate_landmark' method="POST">
       <input type="hidden" name="landmark_id" value="{{landmark.landmark_id}}">
        {% if session.get('user_id') %} 
            Rate {{ landmark.landmark_name }}:
            <button id='btn-heart' class='btn-rate' value='1'>Heart</button>
            <!-- 
            <button id='btn-1' class='btn-rate' value='1'>1</button>
            <button id='btn-2' class='btn-rate' value='2'>2</button>
            <button id='btn-3' class='btn-rate' value='3'>3</button>
            <button id='btn-4' class='btn-rate' value='4'>4</button>
            <button id='btn-5' class='btn-rate' value='5'>5</button>  -->
            
            <!-- <select name="score">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </br>
            <input type = "submit"> -->
        {% else %}
            <a href="/login">Log In to Rate this Landmark</a>
    {% endif %}

    </form>  


{% endblock %}