{% extends 'base.html' %}

{% block head %}


    <title>Landmark Details</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/landmark.css">



{% endblock %}

{% block content %}

    <!-- display landmark details -->

 <!-- FIXME bootstrap containers    -->

    <h3>{{ landmark.landmark_name|default("", True) }}</h3>
      {% if average %}
          {{  average  }}
      {% endif %}
      {% if (prediction) and (prediction > 3.5) %}
          <p>People similar to you also enjoyed this destination.</p>
      {% endif %}


      <!-- http://stackoverflow.com/questions/11146619/suppress-none-output-as-string-in-jinja2 -->
      <p>{{ landmark.landmark_description|default("", True) }}</p>

        <ul>
          {% if landmark.landmark_location_description %}
            <li>Location:  {{ landmark.landmark_location_description|default("", True) }}</li>
          {% endif %}

          {% if landmark.landmark_artist %}
            <li>Artist:  {{ landmark.landmark_artist|default("", True) }}</li>
          {% endif %}

          {% if landmark.landmark_display_dimensions %}
            <li>Display dimensions:  {{ landmark.landmark_display_dimensions|default("", True) }}</li>
          {% endif %}

          {% if landmark.landmark_medium %}
            <li>Medium:  {{ landmark.landmark_medium|default("", True) }}</li>
          {% endif %}
        </ul>


                      <!-- Rate via Like/Heart or 5-stars? -->

<!--                       <form id='ratings' method='POST'>
                        <input type='button' src='/static/catburrito.jpeg' class='rating' value='1'>
                        <input type='button' src='/static/catburrito.jpeg' class='rating' value='2'>
                        <input type='button' src='/static/catburrito.jpeg' class='rating' value='3'>
                        <input type='button' src='/static/catburrito.jpeg' class='rating' value='4'>
                        <input type='button' src='/static/catburrito.jpeg' class='rating' value='5'>
                        <input type='text' id='notes' class='rating-text' name='user-notes'>
                        <input type='submit'>
                      </form>  
                      <br>   -->
                   
                  {% if user_rating is not none %}
                      Your rating: {{ user_rating.user_score }} </br>
                      {% if user_rating.user_notes_for_landmark %}
                        {{ user_rating.user_notes_for_landmark }}
                      {% endif %}

                  {% else %}
                      <form id='ratings' method='POST'>
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" class="rating-input" value="5" />
                          <label class="full-rating {% if user_rating >= 5 %} selected {% endif %}" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4" name="rating" class="rating-input" value="4" />
                          <label class="full-rating {% if user_rating >= 4 %} selected {% endif %}" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3" name="rating" class="rating-input" value="3" />
                          <label class="full-rating {% if user_rating >= 3 %} selected {% endif %}" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2" name="rating" class="rating-input" value="2" />
                          <label class="full-rating {% if user_rating >= 2 %} selected {% endif %}" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1" name="rating" class="rating-input" value="1" />
                          <label class="full-rating {% if user_rating >= 1 %} selected {% endif %}" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>  
                        </br>
                        <input type='text' id='notes' class='rating-text' placeholder='What should people know about this place?' name='user-notes'>
                        <input type='submit'>
                      </form>     
                      </br>       
                  {% endif %}

    <!-- image gallery and option to upload a new image -->

      <div id='image-display'>
        {% for image in images %}
          <img src="{{ image.imageurl }}">
        {% endfor %}
      </div>

      <form id='upload' method="POST">
        <label>Upload an Image of {{ landmark.landmark_name }}<input type='file' id='input-upload' name='image' ></label>
      </form>

    <!--  Suggest other nearby areas of interest -->
    <h2 id='suggestions-title' class='hidden'>Other nearby destinations: </h2>
    <ul id='suggestions'></ul>



        <script type="text/javascript">
          var landmark_id = "{{ landmark.landmark_id }}";
        </script>
        <script src="/static/landmark.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" async></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" async></script>
        <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js" async></script>

{% endblock %}