{% extends 'base.html' %}

    {% block head %}

        <meta charset='utf-8' />
        <title>Walking Map</title>

        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        
        <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' rel='stylesheet' type='text/css' />
        <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>

        <link href="/static/mapbox.css" rel="stylesheet" />

    {% endblock %}
    
          
    {% block content %}     

        <!-- Display the map and prompt -->
        <textarea type='text' id='custom-geocoder' placeholder='Where do you want to go?' name='joyce-geocoder'></textarea>
        <textarea type='text' id='auto-display'></textarea>

        <div id='map-master'>
        <div id='map'></div>
            <div id='map-controls'>
                <div id='geolocation'></div>
                <div id='zoom-controls'></div>
            </div>

            <!-- <div class='map-tooltips'></div> -->

            <div id='directions'>   
                <!-- <div id='errors'>errors</div> -->
                  <ul id='marker-list'></ul>
                
                  <div id='routes'></div>
                  <div id='duration'></div>
                    <a href='/email_directions' id='email' >Send directions to your phone</a></br>
                    <a href='/save_walk' id='saved' >Save this walk</a>
                    <div class="loader"></div>
                  <div id='instructions'></div>
                     <ul id='instructions-list'>
        <!--                 <ul id='distance-list'></ul> -->
                    </ul>
            </div>
        </div>

<!--             <span class="default">Add destination</span>
            <span class="active">Destination added</span>
            <span class="remove">Remove</span> -->
   
<!--             {% if waypoints %}
                {% for waypoint in waypoints %}
                    <ul>{{ waypoint }}</ul>
                {% endfor %}
            {% endif %} -->

        <button type="button" id="get-directions" class="btn btn-primary" autocomplete="off">get route</button>
        <button id="clear" class="btn btn-secondary">clear</button><br>
        <button id="debugger" class="btn btn-secondary">debugger</button><br>

        <script src="/static/mapbox.js"></script>

    {% endblock %}
          
        