{% extends 'base.html' %}

    {% block head %}

        <meta charset='utf-8' />
        <title>Walking Map</title>

        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <link href="/static/mapbox.css" rel="stylesheet" />
        
        <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    {% endblock %}
    
          
    {% block content %}     

        <!-- Display the map and prompt -->
        <div id='map'></div>
            <div class='geocoder'></div>
            <form action = '/geocode' id="address-input" method="POST">
                <input id='user-input' class="controls" type="text" placeholder="Where do you want to start?" name="destination" />
            </form>

<!--         <div class='markers'>
            <div class='marker-icon'>
                <div class='popup'></div>
                    <div class='popup-title'>
                        <div class='popup-content'>
                            <div class='popover'>
                                <div class='popover-actions'>
                                    <div class='save-destination' role='button'>
                                        <i class='icon-save-destination'></i>
                                    </div>
                                        <button id='popupButton'></button>
                                        <i class='icon-add-destination'>
                                            <span class="default">Add destination</span>
                                            <span class="active">Destination added</span>
                                            <span class="remove">Remove</span>
                                        </i>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class='map-tooltips'></div>
        
        <div id='map-controls'>
            <div id='geolocation'></div>
            <div id='zoom-controls'></div>
        </div>

        <div id='errors'>errors</div>


        <div id='directions'>
          <div id='routes'>Route: </div>
          <div id='instructions'>Instructions:</div>
        </div>

            {% if waypoints %}
                {% for waypoint in waypoints %}
                    <ul>{{ waypoint }}</ul>
                {% endfor %}
            {% endif %}

        <button id="get-directions" class="control-link">Lock it in</button><br>
        <button id="clear" class="control-link">clear</button><br>
        <button id="debugger" class="control-link">debugger</button><br>


        <script src="/static/colorbox-master/jquery.colorbox.js"></script>
        <script src="/static/mapbox.js"></script>



    {% endblock %}
          
        