<!-- Show walks, landmarks and scores -->

{% extends 'base.html' %}

    {% block head %}

        <meta charset='utf-8' />
        <title>Favorites</title>


      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <link href="/static/profile.css" rel="stylesheet" />
        
    {% endblock %}

{% block content %}


    <p>{{user.email }}:  View a log of all your walks.  Add and rate landmarks.</p>
    
          {% if saved %}
              <div id='map'>
                <div id='saved-panel'>
                  <h2>My Favorites: </h2>
                  {% for save in saved|default("", True) %}
                  <!-- for every landmark that has been parsed from the ratings object that was passed through, we display its score.  -->
                
                    <ul><a href="/landmarks/{{ save.landmark_id }}">{{ save.landmark.landmark_name|default("", True) }}</a><a href='/clear_a_saved' class='clear-saved' name='saved_id' data-value='{{ save.saved_id}}' /> remove</a></ul>
                  
                  {% endfor %}
                </div>
              </div>
            
          {% endif %}   
          
    <ul>

          {% if walks %}
            <li><h3>My Walks:</h3>
              <ul>{% for walk in walks %}
                <li>{{ walk.log_datetime | date }}:  from
                    {{ walk.origin }} to {{ walk.destination }}
                    <!-- walk.walk_landmark_link.landmark.landmark_name -->

                    ({{ walk.distance | distance }} meters in 

                      {% if (walk.duration > 60) %}
                        {{ (walk.duration / 60) | time }} hours)
                      {% else %}
                        {{ walk.duration | time }} minutes) 
                      {% endif %}<a href='/clear_walk' class='clear' name='walk_id' data-value='{{ walk.walk_id }}' /> remove</a>
                </li>
                <!-- FIXME: allow rating of walks? -->
              {% endfor %}
            </ul>
            </li>
          {% endif %}

          {% if ratings %}
            <li><h3>Landmarks you have rated: </h3>
                <ul>{% for rating in ratings %}
                  <!-- for every landmark that has been parsed from the ratings object that was passed through, we display its score.  -->
                  
                    <a href="/landmarks/{{ rating.landmark_id}}">{{ rating.landmark.landmark_name | title }}</a>
                    <ul>
                      <li>You rated: {{ rating.user_score }}</li>
                      {% if rating.user_notes_for_landmark %}
                          <li>Your notes: {{ rating.user_notes_for_landmark }}</li>
                      {% endif %}
                    </ul>
                {% endfor %}</ul>
            </li>
          {% endif %}

          
    </ul>
    <a href='/map'>Start a new walk</a>

        <script src="/static/profile.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" async></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" async></script>
        <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js" async></script>

{% endblock %}