<!-- Show walks, landmarks and scores -->

{% extends 'base.html' %}
{% block content %}


    <p>View a log of all your walks.  Add and rate landmarks.</p>
    <ul>
     <!-- Passed through user object, display user email attribute -->
          <li>Username: {{ user.email }}</li>
          </br>

          {% if saved %}
            <li>My Saved Landmarks:
              {% for save in saved|default("", True) %}
              <!-- for every landmark that has been parsed from the ratings object that was passed through, we display its score.  -->
                <ul><a href="/landmarks/{{ save.landmark_id }}">{{ save.landmark.landmark_name|default("", True) }}</a></ul>
                <!-- FIXME display map of saved destinations with pop ups. -->
            </li>{% endfor %}
          {% endif %}


          {% if walks %}
            <li>My Walks:
              {% for walk in walks %}
                <!-- for every walk that has been parsed from the ratings object that was passed through, we are able to display its score. Since the dbs have an established relationship, we can access the title from the movies table -->
                {{ walk.start_datetime }} on PLACEHOLDER FOR LOCATION
                {{ walk.landmark.name }}: {{ walk.landmark.score }}

                <!-- FIXME:  DISPLAY WALKS OR LANDMARKS???  ADD LINK TO LANDMARK DETAILS PAGE -->

                </br>
              {% endfor %}
            </li>
          {% endif %}

          {% if ratings %}
            <li>My Landmark Ratings: 
                <ul>{% for rating in ratings %}
                  <!-- for every landmark that has been parsed from the ratings object that was passed through, we display its score.  -->
                  
                    <a href="/landmarks/{{ rating.landmark_id}}">{{ rating.landmark.landmark_name | title }}</a>
                    <ul>
                      <li>You rated: {{ rating.user_score }}</li>
                      {% if rating.user_notes_for_landmark %}
                          <li>Your notes: {{ rating.user_notes_for_landmark }}</li>
                      {% endif %}
                    </ul>
                  </br>
                {% endfor %}</ul>
            </li>
          {% endif %}

          
    </ul>
    <a href='/map'>Start a new walk</a>
              <!-- <a href="/users/{{ user.user_id }}"> -->
{% endblock %}